@import import/normalize
@import import/variables
p
	font-family: $font-head
	font-size: 15px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	span
		text-align: center
		padding: 7px 0




