.work .work__portfolio {
    display: -ms-grid;
    -ms-grid-columns: (1fr)[12];
    -ms-grid-rows: (107px)[12];
}.work .work__portfolio > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}.work .work__portfolio > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}.work .work__portfolio > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}.work .work__portfolio > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
}.work .work__portfolio > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}.work .work__portfolio > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
}.work .work__portfolio > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}.work .work__portfolio > *:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 8;
}.work .work__portfolio > *:nth-child(9) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
}.work .work__portfolio > *:nth-child(10) {
    -ms-grid-row: 1;
    -ms-grid-column: 10;
}.work .work__portfolio > *:nth-child(11) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
}.work .work__portfolio > *:nth-child(12) {
    -ms-grid-row: 1;
    -ms-grid-column: 12;
}.work .work__portfolio > *:nth-child(13) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}.work .work__portfolio > *:nth-child(14) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}.work .work__portfolio > *:nth-child(15) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
}.work .work__portfolio > *:nth-child(16) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
}.work .work__portfolio > *:nth-child(17) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
}.work .work__portfolio > *:nth-child(18) {
    -ms-grid-row: 2;
    -ms-grid-column: 6;
}.work .work__portfolio > *:nth-child(19) {
    -ms-grid-row: 2;
    -ms-grid-column: 7;
}.work .work__portfolio > *:nth-child(20) {
    -ms-grid-row: 2;
    -ms-grid-column: 8;
}.work .work__portfolio > *:nth-child(21) {
    -ms-grid-row: 2;
    -ms-grid-column: 9;
}.work .work__portfolio > *:nth-child(22) {
    -ms-grid-row: 2;
    -ms-grid-column: 10;
}.work .work__portfolio > *:nth-child(23) {
    -ms-grid-row: 2;
    -ms-grid-column: 11;
}.work .work__portfolio > *:nth-child(24) {
    -ms-grid-row: 2;
    -ms-grid-column: 12;
}.work .work__portfolio > *:nth-child(25) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}.work .work__portfolio > *:nth-child(26) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
}.work .work__portfolio > *:nth-child(27) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}.work .work__portfolio > *:nth-child(28) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
}.work .work__portfolio > *:nth-child(29) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}.work .work__portfolio > *:nth-child(30) {
    -ms-grid-row: 3;
    -ms-grid-column: 6;
}.work .work__portfolio > *:nth-child(31) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}.work .work__portfolio > *:nth-child(32) {
    -ms-grid-row: 3;
    -ms-grid-column: 8;
}.work .work__portfolio > *:nth-child(33) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
}.work .work__portfolio > *:nth-child(34) {
    -ms-grid-row: 3;
    -ms-grid-column: 10;
}.work .work__portfolio > *:nth-child(35) {
    -ms-grid-row: 3;
    -ms-grid-column: 11;
}.work .work__portfolio > *:nth-child(36) {
    -ms-grid-row: 3;
    -ms-grid-column: 12;
}.work .work__portfolio > *:nth-child(37) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
}.work .work__portfolio > *:nth-child(38) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
}.work .work__portfolio > *:nth-child(39) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
}.work .work__portfolio > *:nth-child(40) {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
}.work .work__portfolio > *:nth-child(41) {
    -ms-grid-row: 4;
    -ms-grid-column: 5;
}.work .work__portfolio > *:nth-child(42) {
    -ms-grid-row: 4;
    -ms-grid-column: 6;
}.work .work__portfolio > *:nth-child(43) {
    -ms-grid-row: 4;
    -ms-grid-column: 7;
}.work .work__portfolio > *:nth-child(44) {
    -ms-grid-row: 4;
    -ms-grid-column: 8;
}.work .work__portfolio > *:nth-child(45) {
    -ms-grid-row: 4;
    -ms-grid-column: 9;
}.work .work__portfolio > *:nth-child(46) {
    -ms-grid-row: 4;
    -ms-grid-column: 10;
}.work .work__portfolio > *:nth-child(47) {
    -ms-grid-row: 4;
    -ms-grid-column: 11;
}.work .work__portfolio > *:nth-child(48) {
    -ms-grid-row: 4;
    -ms-grid-column: 12;
}.work .work__portfolio > *:nth-child(49) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}.work .work__portfolio > *:nth-child(50) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
}.work .work__portfolio > *:nth-child(51) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}.work .work__portfolio > *:nth-child(52) {
    -ms-grid-row: 5;
    -ms-grid-column: 4;
}.work .work__portfolio > *:nth-child(53) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}.work .work__portfolio > *:nth-child(54) {
    -ms-grid-row: 5;
    -ms-grid-column: 6;
}.work .work__portfolio > *:nth-child(55) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
}.work .work__portfolio > *:nth-child(56) {
    -ms-grid-row: 5;
    -ms-grid-column: 8;
}.work .work__portfolio > *:nth-child(57) {
    -ms-grid-row: 5;
    -ms-grid-column: 9;
}.work .work__portfolio > *:nth-child(58) {
    -ms-grid-row: 5;
    -ms-grid-column: 10;
}.work .work__portfolio > *:nth-child(59) {
    -ms-grid-row: 5;
    -ms-grid-column: 11;
}.work .work__portfolio > *:nth-child(60) {
    -ms-grid-row: 5;
    -ms-grid-column: 12;
}.work .work__portfolio > *:nth-child(61) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
}.work .work__portfolio > *:nth-child(62) {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
}.work .work__portfolio > *:nth-child(63) {
    -ms-grid-row: 6;
    -ms-grid-column: 3;
}.work .work__portfolio > *:nth-child(64) {
    -ms-grid-row: 6;
    -ms-grid-column: 4;
}.work .work__portfolio > *:nth-child(65) {
    -ms-grid-row: 6;
    -ms-grid-column: 5;
}.work .work__portfolio > *:nth-child(66) {
    -ms-grid-row: 6;
    -ms-grid-column: 6;
}.work .work__portfolio > *:nth-child(67) {
    -ms-grid-row: 6;
    -ms-grid-column: 7;
}.work .work__portfolio > *:nth-child(68) {
    -ms-grid-row: 6;
    -ms-grid-column: 8;
}.work .work__portfolio > *:nth-child(69) {
    -ms-grid-row: 6;
    -ms-grid-column: 9;
}.work .work__portfolio > *:nth-child(70) {
    -ms-grid-row: 6;
    -ms-grid-column: 10;
}.work .work__portfolio > *:nth-child(71) {
    -ms-grid-row: 6;
    -ms-grid-column: 11;
}.work .work__portfolio > *:nth-child(72) {
    -ms-grid-row: 6;
    -ms-grid-column: 12;
}.work .work__portfolio > *:nth-child(73) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}.work .work__portfolio > *:nth-child(74) {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
}.work .work__portfolio > *:nth-child(75) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}.work .work__portfolio > *:nth-child(76) {
    -ms-grid-row: 7;
    -ms-grid-column: 4;
}.work .work__portfolio > *:nth-child(77) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
}.work .work__portfolio > *:nth-child(78) {
    -ms-grid-row: 7;
    -ms-grid-column: 6;
}.work .work__portfolio > *:nth-child(79) {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
}.work .work__portfolio > *:nth-child(80) {
    -ms-grid-row: 7;
    -ms-grid-column: 8;
}.work .work__portfolio > *:nth-child(81) {
    -ms-grid-row: 7;
    -ms-grid-column: 9;
}.work .work__portfolio > *:nth-child(82) {
    -ms-grid-row: 7;
    -ms-grid-column: 10;
}.work .work__portfolio > *:nth-child(83) {
    -ms-grid-row: 7;
    -ms-grid-column: 11;
}.work .work__portfolio > *:nth-child(84) {
    -ms-grid-row: 7;
    -ms-grid-column: 12;
}.work .work__portfolio > *:nth-child(85) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
}.work .work__portfolio > *:nth-child(86) {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
}.work .work__portfolio > *:nth-child(87) {
    -ms-grid-row: 8;
    -ms-grid-column: 3;
}.work .work__portfolio > *:nth-child(88) {
    -ms-grid-row: 8;
    -ms-grid-column: 4;
}.work .work__portfolio > *:nth-child(89) {
    -ms-grid-row: 8;
    -ms-grid-column: 5;
}.work .work__portfolio > *:nth-child(90) {
    -ms-grid-row: 8;
    -ms-grid-column: 6;
}.work .work__portfolio > *:nth-child(91) {
    -ms-grid-row: 8;
    -ms-grid-column: 7;
}.work .work__portfolio > *:nth-child(92) {
    -ms-grid-row: 8;
    -ms-grid-column: 8;
}.work .work__portfolio > *:nth-child(93) {
    -ms-grid-row: 8;
    -ms-grid-column: 9;
}.work .work__portfolio > *:nth-child(94) {
    -ms-grid-row: 8;
    -ms-grid-column: 10;
}.work .work__portfolio > *:nth-child(95) {
    -ms-grid-row: 8;
    -ms-grid-column: 11;
}.work .work__portfolio > *:nth-child(96) {
    -ms-grid-row: 8;
    -ms-grid-column: 12;
}.work .work__portfolio > *:nth-child(97) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
}.work .work__portfolio > *:nth-child(98) {
    -ms-grid-row: 9;
    -ms-grid-column: 2;
}.work .work__portfolio > *:nth-child(99) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
}.work .work__portfolio > *:nth-child(100) {
    -ms-grid-row: 9;
    -ms-grid-column: 4;
}.work .work__portfolio > *:nth-child(101) {
    -ms-grid-row: 9;
    -ms-grid-column: 5;
}.work .work__portfolio > *:nth-child(102) {
    -ms-grid-row: 9;
    -ms-grid-column: 6;
}.work .work__portfolio > *:nth-child(103) {
    -ms-grid-row: 9;
    -ms-grid-column: 7;
}.work .work__portfolio > *:nth-child(104) {
    -ms-grid-row: 9;
    -ms-grid-column: 8;
}.work .work__portfolio > *:nth-child(105) {
    -ms-grid-row: 9;
    -ms-grid-column: 9;
}.work .work__portfolio > *:nth-child(106) {
    -ms-grid-row: 9;
    -ms-grid-column: 10;
}.work .work__portfolio > *:nth-child(107) {
    -ms-grid-row: 9;
    -ms-grid-column: 11;
}.work .work__portfolio > *:nth-child(108) {
    -ms-grid-row: 9;
    -ms-grid-column: 12;
}.work .work__portfolio > *:nth-child(109) {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
}.work .work__portfolio > *:nth-child(110) {
    -ms-grid-row: 10;
    -ms-grid-column: 2;
}.work .work__portfolio > *:nth-child(111) {
    -ms-grid-row: 10;
    -ms-grid-column: 3;
}.work .work__portfolio > *:nth-child(112) {
    -ms-grid-row: 10;
    -ms-grid-column: 4;
}.work .work__portfolio > *:nth-child(113) {
    -ms-grid-row: 10;
    -ms-grid-column: 5;
}.work .work__portfolio > *:nth-child(114) {
    -ms-grid-row: 10;
    -ms-grid-column: 6;
}.work .work__portfolio > *:nth-child(115) {
    -ms-grid-row: 10;
    -ms-grid-column: 7;
}.work .work__portfolio > *:nth-child(116) {
    -ms-grid-row: 10;
    -ms-grid-column: 8;
}.work .work__portfolio > *:nth-child(117) {
    -ms-grid-row: 10;
    -ms-grid-column: 9;
}.work .work__portfolio > *:nth-child(118) {
    -ms-grid-row: 10;
    -ms-grid-column: 10;
}.work .work__portfolio > *:nth-child(119) {
    -ms-grid-row: 10;
    -ms-grid-column: 11;
}.work .work__portfolio > *:nth-child(120) {
    -ms-grid-row: 10;
    -ms-grid-column: 12;
}.work .work__portfolio > *:nth-child(121) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
}.work .work__portfolio > *:nth-child(122) {
    -ms-grid-row: 11;
    -ms-grid-column: 2;
}.work .work__portfolio > *:nth-child(123) {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
}.work .work__portfolio > *:nth-child(124) {
    -ms-grid-row: 11;
    -ms-grid-column: 4;
}.work .work__portfolio > *:nth-child(125) {
    -ms-grid-row: 11;
    -ms-grid-column: 5;
}.work .work__portfolio > *:nth-child(126) {
    -ms-grid-row: 11;
    -ms-grid-column: 6;
}.work .work__portfolio > *:nth-child(127) {
    -ms-grid-row: 11;
    -ms-grid-column: 7;
}.work .work__portfolio > *:nth-child(128) {
    -ms-grid-row: 11;
    -ms-grid-column: 8;
}.work .work__portfolio > *:nth-child(129) {
    -ms-grid-row: 11;
    -ms-grid-column: 9;
}.work .work__portfolio > *:nth-child(130) {
    -ms-grid-row: 11;
    -ms-grid-column: 10;
}.work .work__portfolio > *:nth-child(131) {
    -ms-grid-row: 11;
    -ms-grid-column: 11;
}.work .work__portfolio > *:nth-child(132) {
    -ms-grid-row: 11;
    -ms-grid-column: 12;
}.work .work__portfolio > *:nth-child(133) {
    -ms-grid-row: 12;
    -ms-grid-column: 1;
}.work .work__portfolio > *:nth-child(134) {
    -ms-grid-row: 12;
    -ms-grid-column: 2;
}.work .work__portfolio > *:nth-child(135) {
    -ms-grid-row: 12;
    -ms-grid-column: 3;
}.work .work__portfolio > *:nth-child(136) {
    -ms-grid-row: 12;
    -ms-grid-column: 4;
}.work .work__portfolio > *:nth-child(137) {
    -ms-grid-row: 12;
    -ms-grid-column: 5;
}.work .work__portfolio > *:nth-child(138) {
    -ms-grid-row: 12;
    -ms-grid-column: 6;
}.work .work__portfolio > *:nth-child(139) {
    -ms-grid-row: 12;
    -ms-grid-column: 7;
}.work .work__portfolio > *:nth-child(140) {
    -ms-grid-row: 12;
    -ms-grid-column: 8;
}.work .work__portfolio > *:nth-child(141) {
    -ms-grid-row: 12;
    -ms-grid-column: 9;
}.work .work__portfolio > *:nth-child(142) {
    -ms-grid-row: 12;
    -ms-grid-column: 10;
}.work .work__portfolio > *:nth-child(143) {
    -ms-grid-row: 12;
    -ms-grid-column: 11;
}.work .work__portfolio > *:nth-child(144) {
    -ms-grid-row: 12;
    -ms-grid-column: 12;
}
.work .work__portfolio .work__card-1 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
}
.work .work__portfolio .work__card-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    -ms-grid-row: 2;
    -ms-grid-row-span:4
}
.work .work__portfolio .work__card-3 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 5;
}
.work .work__portfolio *:nth-child(4) {
    -ms-grid-column: 9;
    -ms-grid-column-span: 2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
}
.work .work__portfolio *:nth-child(5) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
}
.work .work__portfolio .work__card-4 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    -ms-grid-row: 6;
    -ms-grid-row-span: 6;
}
.work .work__portfolio .work__card-5 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    -ms-grid-row: 9;
    -ms-grid-row-span: 4;
}